@charset "UTF-8";

table.item {
  background-color: tomato;
}

/* ---- ページリンクのレイアウト --- */
.paging {
  text-align: center;
  margin: 15px 0;
  font-size: 1rem;
  list-style-type: none;
}
.paging li {
  display: inline-block;
}
.paging .current,
.paging a {
  padding: 0 3px;
}
.paging a {
  display: block;
}
