<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>トップページ</div>
    <div th:text="${session.userId}"></div>
    <a th:href="@{/loginOnSession}">ログイン</a>
    <a th:href="@{/logout}">ログアウト</a>
    <br>
    <a th:href="@{/items/findAll}">全体検索</a>
    <a th:href="@{/items/findAllByOrderByPriceDesc}">並び替え検索</a>
    <a th:href="@{/items/getOne/1}">PRIMARY KEY SEARCH[1]</a>
    <a th:href="@{/items/getOne/3}">PRIMARY KEY SEARCH[3]</a>
    <a th:href="@{/items/findByPrice/100}">価格検索</a>
    <a th:href="@{/items/findByNameAndPrice/りんご/200}">名前と価格による検索(リンゴかつ200)</a>
    <a th:href="@{/items/findByNameLike/ん}">曖昧検索(ん)</a>
    <br>
    <a th:href="@{/items/create/input}">登録</a>
</body>
</html>