<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insert title here</title>
</head>
<body>
    <div>ドロップダウンリスト</div>
    <select name="itemdrop">
        <option th:each="item: ${items}" th:value="${item.id}" th:text="${item.name}"></option>
    </select>
    <div>チェックボックス</div>
    <div th:each="item:${items}">
        <input type="checkbox" th:id="${item.id}">
        <label th:text="${item.name}"></label>
    </div>
    <div>ラジオボタン</div>
    <div th:each="item:${items}">
        <input type="radio" name="selectRadio" th:value="${item.id}" th:text="${item.name}">
    </div>
</body>
</html>